aiohttp==3.7.3
altgraph==0.17
ansicon==1.89.0
astroid==2.4.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.3.0
beautifulsoup4==4.9.3
blessed==1.17.6
bs4==0.0.1
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
clr==1.0.3
colorama==0.4.4
colorzero==1.1
Colr==0.9.1
crypto==1.4.1
DateTime==4.3
discord==1.0.1
discord-webhook==0.12.0
discord.py==1.6.0
future==0.18.2
gpiozero==1.5.1
gTTS==2.2.2
idna==2.10
inquirer==2.7.0
isort==5.7.0
jinxed==1.1.0
keyboard==0.13.5
lazy-object-proxy==1.4.3
mccabe==0.6.1
MouseInfo==0.1.3
multidict==5.1.0
Naked==0.1.31
numpy==1.20.1
opencv-python==4.5.1.48
pefile==2019.4.18
pick==1.0.0
Pillow==8.2.0
plyer==2.0.0
prompt-toolkit==1.0.14
psutil==5.8.0
PyAutoGUI==0.9.52
pycryptodome==3.10.1
pygame==2.0.1
PyGetWindow==0.0.9
Pygments==2.8.1
PyInquirer==1.0.3
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
pylint==2.6.0
PyMsgBox==1.0.9
pyperclip==1.8.1
pyping==0.0.6
PyRect==0.1.4
PyScreeze==0.1.26
python-editor==1.0.4
pythonping==1.0.16
PyTweening==1.0.3
pytz==2021.1
pywin32==300
pywin32-ctypes==0.2.0
PyYAML==5.4.1
rarfile==4.0
readchar==2.0.1
regex==2021.4.4
requests==2.25.1
shellescape==3.8.1
simple-term-menu==1.1.0
six==1.15.0
soupsieve==2.2
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.3
wcwidth==0.2.5
whaaaaat==0.5.2
windows-curses==2.2.0
WMI==1.5.1
wrapt==1.12.1
yarl==1.6.3
zope.interface==5.2.0
